{% extends 'base.html' %}
{% block main %}
<style>
    .center {
        display: flex;
        justify-content: center;
    }
    .colour{
        color:green;
    }
</style>
<div class="card shadow m-3">
    <div class="card-body">
        <h5 class="p-2 text-danger" style="border-bottom: 2px solid orange">ADMIN DASHBOARD</h5>
        <div class="container-fluid" style="background-color: danger; padding-bottom: 1px;">
            <!-- Replace the form with a table -->
            <table class="table table-striped">
                <thead class="colour">
                    <tr>
                        <th>Total No Of Letter</th>
                        <th>{{letter_count}}</th>
                    </tr>
                </thead>
                
            </table>

        </div>
    </div>
</div> 
{%endblock%}