{% extends 'base_user.html' %}
{% block main %}
<style>
    .center {
        display: flex;
        justify-content: center;
    }
    .p-2
    {
        color:green;
    }
    .form-row {
        color: green;
    }

</style>
<div class="card shadow m-3">
    <div class="card-body">
        <h5 class="p-2 text-danger" style="border-bottom: 2px solid orange">Update Letter</h5>
        <div class="container-fluid" style="background-color: danger; padding-bottom: 1px;">
            <form method="post" action="{% url 'update_user_letter' pid=l.srno %}">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label >Letter Number:</label>
                            <input type="text" name="srNo" value="{{l.letter_no}}" class="form-control"  readonly>
                        </div>
                    </div>
        <div class="col-sm-6">
                        <div class="form-group">
                            <label>Signing Date:</label>
                            <input type="date" name="signdate" class="form-control" value="{{ l.signing_date|date:'Y-m-d' }}" readonly>
      
                        </div>                
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Receiving date:</label>
                            <input type="date" name="receivedate" class="form-control" value="{{ l.receiving_date|date:'Y-m-d' }}">
    
                        </div>
                    </div> 
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Received from:</label>
                            <input type="text" name="receive_from" class="form-control" value="{{l.received_from}}" >
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Subject:</label>
                            <input type="text" name="Subject" class="form-control" value="{{l.subject}}" readonly>
                        </div>
                    </div>  
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>MD'S Remark:</label>
                            <input type="text" name="MD" class="form-control" value="{{l.mds_remark}}" readonly>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>GM(W)'S Remark:</label>
                            <input type="text" name="GM" class="form-control" value="{{l.gms_remark}}" readonly> 
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Deputy GM Remark:</label>
                            <input type="text" name="Deputy_GM" class="form-control" value="{{l.deputy_gms_remark}}" readonly>   
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>FM'S Remark:</label>
                            <input type="text" name="FM" class="form-control" value="{{l.fms_remark}}" readonly>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Section Assigned To:</label>
                            <select name="UNIT" class="form-control" id="sectionSelect" value="{{l.unit_assigned_to}}" readonly>
                                <option value="None">--Select--</option>
                                <option value="PLG" {% if l.unit_assigned_to == 'PLG' %}selected{% endif %}>PLG</option>
                                <option value="PROG" {% if l.unit_assigned_to == 'PROG' %}selected{% endif %}>PROG</option>
                                <option value="MFR" {% if l.unit_assigned_to == 'MFR' %}selected{% endif %}>MFR</option>
                                <option value="Stats" {% if l.unit_assigned_to == 'Stats' %}selected{% endif %}>STATS</option>
                                <option value="OTHERS" {% if l.unit_assigned_to == 'OTHERS' %}selected{% endif %}>OTHERS</option>
                            </select>
                            <!-- Add the input field for custom value here -->
                            <input type="text" id="customValue" class="form-control" name="custom_unit" placeholder="Enter Other section" {% if l.unit_assigned_to != 'OTHERS' %}style="display: none;"{% endif %} value="{% if l.unit_assigned_to == 'OTHERS' %}{{ l.custom_unit }}{% endif %}" readonly>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Letter Assigned To:</label>
            
                            <input type="text" name="Letter_Assigned" class="form-control" value="{{l.letter_assigned_to}}" >
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Reply Reference:</label>
                            <input type="text" name="reply" class="form-control" value="{{l.reply_reference}}" >
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Reply Date:</label>
                            <input type="date" name="replydate" class="form-control" value="{{ l.reply_date|date:'Y-m-d' }}">
                      
                        </div>
                    </div> 
                </div>
                <br>
                <div class = "center">
                <input type="submit" value="Update" class="px-3 btn btn-primary" id = "submit-button">
            </div>
            
            </form>
        </div>
    </div>
</div> 
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Check the initial value of the dropdown on page load
        showCustomInput(document.getElementById('sectionSelect'));

        // Add an event listener to the dropdown to check its value whenever it changes
        document.getElementById('sectionSelect').addEventListener('change', function() {
            showCustomInput(this);
        });
    });

    function showCustomInput(selectElement) {
        const customInput = document.getElementById('customValue');
        customInput.style.display = selectElement.value === 'OTHERS' ? 'block' : 'none';
    }
</script>
{% endblock %}