{% extends 'base.html' %}
{% block main %}
<style>
    .center {
        display: flex;
        justify-content: center;
    }
    .p-2
    {
        color:green;
    }
    .form-row {
        color: green;
    }

</style>
<div class="card shadow m-3">
    <div class="card-body">
        <h5 class="p-2 text-danger" style="border-bottom: 2px solid orange">Add Letter</h5>
        <div class="container-fluid" style="background-color: danger; padding-bottom: 1px;">
            <form method="post" action ="{% url 'letter_info' %}" >
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label >Letter Number:</label>
                            <input type="text" name="srNo" class="form-control" placeholder="Enter Letter Number"  required>
                        </div>
                    </div>
        <div class="col-sm-6">
                        <div class="form-group">
                            <label>Signing Date:</label>
                            <input type="date" name="signdate" class="form-control" placeholder="Enter Signing date"  required >
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Receiving date:</label>
                            <input type="date" name="receivedate" class="form-control" placeholder="Enter Receiving date" required >
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Received from:</label>
                            <input type="text" name="receive_from" class="form-control"   required >
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Subject:</label>
                            <input type="text" name="Subject" class="form-control" placeholder="Enter the Subject"  required >
                        </div>
                    </div>  
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>MD'S Remark:</label>
                            <input type="text" name="MD" class="form-control" placeholder="Enter the MD'S Remark"  required >
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>GM(W)'S Remark:</label>
                            <input type="text" name="GM" class="form-control" placeholder="Enter the GM(W)'S Remark"  required> 
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Deputy GM Remark:</label>
                            <input type="text" name="Deputy_GM" class="form-control" placeholder="Enter the Dept. GM Remark"  required >   
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>FM'S Remark:</label>
                            <input type="text" name="FM" class="form-control" placeholder="Enter the FM'S Remark"  required >
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Section Assigned To:</label>
                            <select name="select_UNIT" class="form-control">
                                <option value="None">--Select--</option>
                                <option value="PLG">PLG</option>
                                <option value="PROG">PROG</option>
                                <option value="MFR">MFR</option>
                                <option value="Stats">STATS</option>
                                <option value="OTHER">OTHERS</option>
                            </select> 
                            <!-- Add the input field for custom value here -->
                            <input type="text" id="customValue" class="form-control" name="unit_custom_value"  placeholder="Enter Other section" style="display: none;">
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Letter Assigned To:</label>
            
                            <input type="text" name="Letter_Assigned" class="form-control"  required >
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Reply Reference:</label>
                            <input type="text" name="reply" class="form-control" required >
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Reply Date:</label>
                            <input type="date" name="replydate" class="form-control" placeholder="Enter Reply date"  required >
                        </div>
                    </div>
                </div>
                <br>
                <div class = "center">
                <input type="submit" value="Submit" class="px-3 btn btn-primary" id = "submit-button"></div>
            </form>
        </div>
    </div>
</div> 
<script>
    // Listen for changes in the selected option of the drop-down menu
    // Get references to the select and input elements
    const selectElement = document.querySelector('select[name="select_UNIT"]');
    const inputElement = document.querySelector('input[name="unit_custom_value"]');

    // Add an event listener to the select element to listen for changes
    selectElement.addEventListener('change', (event) => {
        // Check if the selected option is "OTHERS"
        if (event.target.value === 'OTHER') {
            // Show the input element
            inputElement.style.display = 'block';
        } else {
            // Hide the input element
            inputElement.style.display = 'none';
        }
    });

</script>
 
{%endblock%}
